body {
    font-family: 'Lustria';
    background-color: #F9F7F0;
    color: #1C402E;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 3rem;
    position: relative;
}


#main {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 0 5rem;
}

#example {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    font-size: 1.5em;
}

#descriptionContainer>h1 {
    vertical-align: top;
    margin: 0;
    font-size: 3em;
    font-weight: 200;
}

#filmContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    font-size: 1.5em;
}

#artistForm {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    height: 86px;
    padding: 0;
}

#artistForm>button {
    border-radius: 10rem;
    background-color: #1C402E;
    color: #F9F7F0;
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    font-family: 'Lustria';
    font-size: 1.2rem;
    height: 40px;

}

#artistForm>button:hover {
    background-color: #285a41;

}

#artistForm>input {
    border-radius: 10rem;
    background-color: #1C402E;
    color: #F9F7F0;
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    font-family: 'Lustria';
    font-size: 1.2rem;
    height: 24px;

}

#footer {
    position: relative;
    bottom: 0;
}

.loader {
    margin-left: 10px;
    border: 8px solid #F9F7F0;
    /* Light grey */
    border-top: 8px solid #1C402E;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.movieLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.movieLabel>a {
    text-decoration: none;
    background-color: #1C402E;
    color: #F9F7F0;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: -2rem;
    border-radius: 10%;
}

.movieLabel>a:hover {
    background-color: #285a41;
}

.movieLabel>img {
    height: 300px;
    border-radius: 10px;
    border: 2px solid #1C402E;
}