<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movies for {{ artist_name }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lustria&display=swap"
      rel="stylesheet"
    />

    <style>
      .artist-name {
        color: #285a41;
        font-size: 52px;
      }
    </style>
  </head>

  <body>
    <h2>ECOLOGY AND MOVIES</h2>
    <div id="filmContainer">
      <h1>
        Because you love<br />
        <span class="artist-name">{{ artist_name }}</span>, you should watch
        those movies :
      </h1>
      <ul class="movie-list">
        {% for movie, url, src in movies %}
        <li class="movieLabel">
          <img src="{{ src }}" alt="{{ movie }}" />
          <a href="{{ url }}" class="movie-title">{{ movie }}</a>
        </li>
        {% endfor %}
      </ul>
      <p>{{ explain }}</p>
    </div>

    <h2 id="footer">By Lila Allanic and Ilies Gourri</h2>
  </body>
</html>
